Makefile
Makefile.pre
*.a
*.o
build/
config.log
config.status
pybuilddir.txt
pyconfig.h
python
python-gdb.py
Modules/Setup
Modules/Setup.local
Modules/Setup.config
Modules/_testembed
Modules/config.c
Modules/ld_so_aix
Parser/pgen
Parser/pgen.stamp
Misc/python.pc
__pycache__

